# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Installed configuration files with sensitive information
*.yaml
# Binaries for programs and plugins
*.exe
*.exe~
dasheq
*.dll
*.so
*.dylib

# Ignore the static quests folder - these are server-specific
static/quests/**
!static/quests/README.md

# Ignore logs folder contents
logs/**
!logs/README.md

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
