<!DOCTYPE html>
<html lang="en">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashEQ: Home</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <div class="sidebar">
        <div class="persistent-links">
            <ul class="link-list">
                <li><a href="/">Home</a></li>
                <li><a href="/zones.html">Zones</a></li>
                <li><a href="/items.html">Items</a></li>
                <li><a href="/questnpcs.html">Quest NPCs</a></li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <div class="titlebar">
            <h1 class="title">DashEQ: An EQEmu Database Dashboard</h1>
            <p class="titlesub">A simple, fast EverQuest emulator database browser written in Go.</p>
        </div>
        <div class="table-container">
{{.}}
        </div>
    </div>
    <div class="bottombar-container">
        <p style="font-size: 15px; max-height: 20px">EverQuest is a registered trademark of Daybreak Game Company.</p>
    </div>
</body>
</html>