<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashEQ: Home</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <div class="sidebar">
        <div class="persistent-links">
            <ul class="link-list">
                <li><a href="/">Home</a></li>
                <li><a href="/zones.html">Zones</a></li>
                <li><a href="/items.html">Items</a></li>
                <li><a href="/npcs.html">NPCs</a></li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <div class="titlebar">
            <h1 class="title">DashEQ: An EQEmu Database Dashboard</h1>
            <p class="titlesub">A simple, fast EverQuest emulator database browser written in Go.</p>
        </div>
        <div class="table-container">
            <table class="data-table">
                <thead>
                    <tr>
                        <th>NPCs</th>
                    </tr>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Level</th>
                        <th>Race</th>
                        <th>Class</th>
                        <th>HP</th>
                        <th>Mana</th>
                        <th>LootTable</th>
                        <th>NPCSpells</th>
                        <th>NPCFaction</th>
                        <th>MinDmg</th>
                        <th>MaxDmg</th>
                        <th>AttackCount</th>
                        <th>RunSpeed</th>
                        <th>MR</th>
                        <th>CR</th>
                        <th>DR</th>
                        <th>FR</th>
                        <th>PR</th>
                        <th>AC</th>
                    </tr>
                </thead>
                <tbody>{{range .}}
                    <tr>
                        <td>{{ .Id }}</td>
                        <td>{{ .Name }}</td>
                        <td>{{ .Level }}</td>
                        <td>{{ .Race }}</td>
                        <td>{{ .Class }}</td>
                        <td>{{ .HP }}</td>
                        <td>{{ .Mana }}</td>
                        <td>{{ .LootTable }}</td>
                        <td>{{ .NPCSpells }}</td>
                        <td>{{ .NPCFaction }}</td>
                        <td>{{ .MinDmg }}</td>
                        <td>{{ .MaxDmg }}</td>
                        <td>{{ .AttackCount }}</td>
                        <td>{{ .RunSpeed }}</td>
                        <td>{{ .MR }}</td>
                        <td>{{ .CR }}</td>
                        <td>{{ .DR }}</td>
                        <td>{{ .FR }}</td>
                        <td>{{ .PR }}</td>
                        <td>{{ .AC }}</td>
                    </tr>
                {{end}}</tbody>
            </table>
        </div>
    </div>
    <div class="bottombar-container">
        <p style="font-size: 15px; max-height: 20px">EverQuest is a registered trademark of Daybreak Game Company.</p>
        <p class="bottombar-banner"><a href="/?reload-data-sets">Reload Data Sets</a></p>
    </div>
</body>
</html>