<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashEQ: Home</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <div class="sidebar">
        <div class="persistent-links">
            <ul class="link-list">
                <li><a href="/Zones.html">Zones</a></li>
                <li><a href="/Items.html">Items</a></li>
                <li><a href="/NPCs.html">NPCs</a></li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <div class="titlebar">
            <h1 class="title">DashEQ: An EQEmu Database Dashboard</h1>
            <p class="titlesub">A simple, fast EverQuest emulator database browser written in Go.</p>
        </div>
        <div class="table-container">
            <table class="data-table">
                <thead>
                    <tr>
                        <th>Zones</th>
                    </tr>
                    <tr>
                        <th>ID</th>
                        <th>Short Name</th>
                        <th>Long Name</th>
                        <th>Outdoor?</th>
                        <th>Expansion</th>
                    </tr>
                </thead>
                <tbody>{{range .}}
                    <tr>
                        <td>{{ .Id }}</td>
                        <td>{{ .Short_name }}</td>
                        <td>{{ .Long_name }}</td>
                        <td>{{ .Outdoor }}</td>
                        <td>{{ .Expansion }}</td>
                    </tr>
                {{end}}</tbody>
            </table>
        </div>
    </div>
    <div class="bottombar-container">
        <p style="font-size: 15px; max-height: 20px">EverQuest is a registered trademark of Daybreak Game Company.</p>
        <p class="bottombar-banner"><a href="/?reload-data-sets">Reload Data Sets</a></p>
    </div>
</body>
</html>